sampleapp/src/main/mule/sampleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="26bec312-b792-40b6-a0f1-648078c58309" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleappFlow" doc:id="ad58aab7-0671-4c55-b919-a1c54293880f" >
		<http:listener doc:name="Listener" doc:id="2ff0f118-4e10-432f-b91d-edaac9c127b0" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="390806f7-c6cc-4abf-a57c-f25b85833357" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="258e61aa-50c3-483d-aeb3-3ebf6c475000" message="#[payload]"/>
	</flow>
</mule>
